---
export interface Props {
    title: string
    date: string
    description: string
    link?: string
}

const { title, date, description } = Astro.props
---

<li class="mb-10 ms-4">
    <div class="absolute size-4 bg-gray-200 rounded-full -start-2 border border-white/80"></div>
    <time class="mb-1 text-sm font-normal leading-none text-sky-200 mx-2">{date}</time>
    <h3 class="text-lg text-white font-semibold text-white-900 mt-2 mb-2 mx-2">{title}</h3>
    <p class="mb-4 text-base font-normal text-pretty text-gray-300/70 dark:text-gray-400 mx-2">{description}</p>
</li>