---
import ExperienceItem from '../components/ExperienceItem.astro'

const EXPERIENCE = [
    {
        date: 'Agosto 2023 - Febrero 2024',
        title: 'Aplicación Web para la Gestión del Proceso de Investigaciones de Cátedra en UNICAES',
        description: 'Implementamos una aplicación web para optimizar y gestionar el proceso de investigaciones de cátedra. Este sistema está diseñado para facilitar la administración, seguimiento y evaluación de los proyectos de investigación llevados a cabo por docentes y estudiantes de la institución.',
        link: '',
    }
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

