---
import ExperienceItem from '../components/ExperienceItem.astro'

const EXPERIENCE = [
    {
        date: 'Noviembre 2024 - Actualidad',
        title: 'Desarrollador FullStack - CruwX',
        description: 'Especializado en el desarrollo de aplicaciones web con Laravel, incluyendo la implementación de nuevas funcionalidades y la optimización de código. También brindo soporte y actualizaciones a sitios web creados con Shopify y WordPress, asegurando su correcto funcionamiento y resolución de problemas.',
    },
    {
        date: 'Agosto 2023 - Febrero 2024',
        title: 'Desarrollador FullStack - UNICAES',
        description: 'Implementé una aplicación web para optimizar la gestión de investigaciones de cátedra, facilitando la administración, seguimiento y evaluación de proyectos de investigación para docentes y estudiantes de la institución.',
    }
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

