<a  class="rounded flex justify-center items-center
    text-xs md:text-base
    gap-x-2 p-3 md:py-3 md:px-2 hover:scale-105 hover:bg-white/10 transition"
    href={Astro.props.href} 
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>